.card {
  max-width: 882px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 18px;
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 10px;
  border-collapse: collapse;
}

.cards__block {
  margin: 0;
  padding: 0;
  border-radius: 10px 10px 10px 10px;
  max-height: 361px;
  max-width: 282px;
}

.cards__image {
  display: block;
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.cards__description {
  max-height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
}

.cards__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 75%;
  margin-left: 20px;
}

.cards__title:hover {
  overflow: visible;
  white-space: normal;
}

.cards__button {
  background-color: #ffffff;
  border: none;
  margin-right: 36px;
  width: 21px;
  height: 18px;
}

.cards__button:hover {
  opacity: 50%;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .card {
    width: 100%;
  }

  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .card {
    width: 100%;
    margin: 0 auto;
  }
}
