.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 18px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 1024px) {
  .cards__list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 582px) {
  .cards__list {
    margin: 0 auto;
  }
}