.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 18px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 1024px) {
  .cards__list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 582px) {
  .cards__list {
    margin: 0 auto;
  }
}

.card__block {
  max-width: 282px;
}

.card__image {
  display: block;
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
}

.card__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  color: #000000;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 75%;
  margin: 25px 0 25px 20px;
}

.card__button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  padding-right: 36px;
  width: 21px;
  height: 18px;
  background-image: url("../images/SVG/Like_button.svg");
}

.card__button:hover {
  opacity: 50%;
}