.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__title {
  padding: 45px 0 41px 0;
}

@media screen and (min-width: 310px) and (max-width: 768px) {
  .header {
    width: 100%;
  }

  .header__title {
    width: 126px;
    padding: 28px 0 32px 27px;
  }
}
