.modal-open {
  font-family: "Inter", Arial, sans-serif;
}

#modal__container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  margin: 0 auto;
}

.modal__content{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  width: 430px;
  padding: 0;
}

.modal__form {
  padding: 0;
  max-width: 358px;
  margin: 0 auto;
}

.modal__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

.modal__title {
  color: #000000;
  margin: 34px 0 54px 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-align: left;
}

.modal__input {
  width: 100%;
  padding: 0 0 13.26px 0;
  border: none;
  font-size: 14px;
  line-height: 16.94px;
  margin: 0;
  border-bottom: 1px solid black;
}

.modal__description {
  margin-top: 29.74px;
}

.modal__save {
  margin: 48px 0 36.51px 0;
  color: #ffffff;
  background-color: #000000;
  width: 358px;
  height: 50px;
}

.modal__close {
  background-color: transparent;
  background-image: url("../images/SVG/Close_Icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 560px;
  left: 999px;
  height: 50px;
  width: 40px;
  border: none;
  display: inline-block;
  transform: rotate(90deg);
}

@media screen and (min-width: 310px) and (max-width: 768px) {
  .modal__content {
    max-width: 282px;
    margin: 0 auto;
  }

  .modal__title {
    font-size: 18px;
    margin: 25px 0 75px 0;
  }

  .modal__form {
    max-width: 238px;
    margin: 0 auto;
  }

  .modal__input {
    width: 238px;
  }
  .modal__save {
    width: 238px;
    height: 46px;
    margin: 45px 0 25px 0;
  }
}
