.profile {
  max-width: 100%;
  margin-top: 40px;
  margin-bottom: 51px;
  color: #ffffff;
  box-sizing: border-box;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .profile {
    width: 100%;
    margin-bottom: 36px;
  }
}

.profile__container {
  display: flex;
  align-items: center;
  color: #ffffff;
  box-sizing: border-box;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
.profile__container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
 .profile__avatar {
    margin-bottom: 26px;
  }
}

.profile__info {
  width: 100%;
  height: 77px;
  margin: 0 auto 0 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #ffffff;
  padding-left: 30px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .profile__info {
    padding: 0;
    margin: 0;
  }
}

.profile__title {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .profile__title {
    margin: 0 auto;
  }
}

.profile__name {
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  margin: 0 18px 0 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .profile__name {
    font-size: 22px;
    margin: 0 10px 0 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .profile__container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.profile__description {
  width: 415px;
  height: 22px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .profile__description {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
  }  
}

.profile__edit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: black;
  border: 1px solid #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
 .profile__edit {
    width: 18px;
    height: 18px;
    padding: 0;
  }
  .profile__edit:hover {
  opacity: 50%;
  }
}

.profile__edit:hover {
  opacity: 50%;
}

.profile__add {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 2px solid #ffffff;
  max-width: 150px;
  width: 100%;
  height: 50px;
  background-color: black;
}

.profile__add:hover {
  opacity: 60%;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .profile__add {
    max-width: 150px;
    width: 100%;
    height: 50px;
  }

  .profile__add:hover {
  opacity: 60%;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .profile__add {
    max-width: 100%;
    width: 100%;
    height: 50px;
    margin-top: 36px;
  }
  .profile__add:hover {
  opacity: 60%;
  }
}
