.profile {
  margin: 40px 0 51px 0;
  color: #ffffff;
}

.profile__container {
  display: flex;
  align-items: center;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}


.profile__info {
  margin: 0 auto 0 30px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}


.profile__name {
  display: flex;
  align-items: center;
}

.profile__title {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  padding: 0 16px 0 0;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  max-width: 373px;
}


.profile__description {
  margin: 0;
  padding: 16px 0 0 0;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 320px;
}


.profile__edit {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background-color: transparent;
  background-image: url("../images/SVG/Edit_button.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s ease-out;
  cursor: pointer;
}


.profile__edit-button:hover {
  opacity: 60%;
}

.profile__add {
  border: 2px solid #ffffff;
  width: 150px;
  height: 50px;
  background-color: transparent;
  background-image: url("../images/SVG/Add_symbol.svg ");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  transition: all 1s ease-out;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 1024px) {
    .profile__add {
    width: 110px;
  }

  .profile__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
      .profile__add {
    width: 80px;
  }

  .profile__title {
    font-size: 22px;
  }
}

@media screen and (max-width: 582px) {
    .profile {
    margin: 0 0 36px 0;
  }

    .profile__container {
    flex-direction: column;
    max-width: 320px;
  }

   .profile__avatar {
    margin-top: 38.25px;
  }

    .profile__info {
    align-items: center;
    justify-content: center;
    margin: 30px 0 0 0;
  }

  .profile__name {
    max-width: 320px;
  }
    .profile__title {
    max-width: 320px;
  }
  .profile__title {
    font-size: 22px;
    max-width: 320px;
  }

    .profile__description {
    font-size: 14px;
    line-height: 17px;
    padding: 0;
  }  
 .profile__edit {
    width: 18px;
    height: 18px;
  }
  .profile__add {
    width: 88%;
    margin-top: 36px;
  }
}